<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/customers/{id}(id=${customer.getId()})}" th:object="${customer}">
  <label for="name">Enter customer name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="account">Enter account: </label>
  <input type="text" th:field="*{account}" id="account"/>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>